#home-wrapper {
  padding: 10px;

  .travel-direction-radio {
    margin: 10px;
  }

  .endpoints-select {
    align-content: space-between;
    display: flex;
  }

  .segment-select {
    flex: 1;
    margin: 0 10px;
  }

  .calculate-button {
    margin-top: 10px;
  }
}
